html, body, div, ul, p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

button {
  cursor: pointer;
  background-color: rgb(36, 187, 137);
  border: none;
  padding: 6px;
  color: white;
  transition: all 300ms ease-in-out;
}

button:hover {
  background-color: cadetblue;
}

input {
  padding: 4px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 20px;
  max-width: 820px;
}